.parallax {
    background-image: url("images/catpink.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style-type: none;
    list-style-position: inside;    
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:'Arimo', sans-serif;
    font-size:20px;
    border: 3px solid pink;
    border-top: 3px solid blue;
    top: 0px;
    width: 100%;
   }

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.icon {
    width: 20px;
    height: 20px;
}

li a:hover {
    background-color: #FFC0CB;
}

h1 {
	font-family: 'Arimo', sans-serif; 
	text-align: center;
}

h2 {
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

p {
	font-family: 'Arimo', sans-serif;
	text-align: justify;
    padding-left: 75px;
    padding-right: 75px;
}

.main{

}

.siamese {
    width:50%;
    border-radius: 50%;
    margin: auto;
}   





